@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;600&display=swap');

.curriculo{


    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.curriculo__textos{

    display: flex;
    flex-direction: column;
    gap: 20px;

}


.curriculo__textos__titulos{

    font-family: 'Montserrat', sans-serif;
    padding:2%;

}

.curriculo__textos__conteudos{

    font-family: 'Krona One', sans-serif;
    padding:2%;

}